.feedback-form {
    display: flex;
    flex-direction: column;
    font-family: 'Montserrat', sans-serif;
    width: 360px;
    gap: 8px;
    margin:24px;
}

label {
    display: flex;
    flex-direction: column;
    gap: 8px;
}

.inp {
    border: 1px solid #808080;
    border-radius: 4px;
    padding: 8px 16px 8px;
    font-size: 16px;
    font-family: "Montserrat", sans-serif;
    max-height: 80px;
}

.inp:hover {
    border:#000000  ;
}

.inp:focus {
    border:#808080;
}

button{
    border-radius: 8px;
    width: 95px;
    height: 40px;
    padding: 8px, 16px, 8px, 16px;
    gap:10px;
    background-color: #4E75FF;
    font-family: "Montserrat", sans-serif;
    border: none;
    color: #fff;
}

button:hover {
    background-color: #6C8CFF;
}