ul {
    list-style-type: none;
    display: flex;
    flex-wrap: wrap;
    gap: 24px;
    max-width: 1128px;
    margin: 0 auto;
}

.gallery-item {
    flex: 0 0 calc(33.33% - 24px);
}

.gallery-item img {
    max-height: 200px;
    max-width: 360px;
    object-fit: cover;
    width: 100%;
}